.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.newsletter-popup {
  width: 300px;
  font-size: 35px;
  /* margin-left: auto;
  position: relative;
  color: #000;
  background: #cb8161; */


}
/* .modal-content { 
  height: 550px;
} */
.newsletter-popup .newsletter-container .newsletter-form {
  width: 100%;
  padding: 30px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.appvide{
  display: flex;
  align-items: center;
}

.appcanvas{
  position: absolute;
  /* top: 100px */
}

.myapp{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.js-ag-show.flip-clock-wrapper ul li a div div.inn {
  color: #ccc612;
  text-shadow: 0 1px 2px #1508f0;
  background-color: #252ed3;
}
.js-ag-show .flip-clock-dot {
  background-color: #252ed3;
}

.ag-flipclock-block {
  padding: 50px 0;
}
.flip-clock-wrapper {
  display: table;
  width: auto;
  margin: 0 auto;
}
.flip-clock-wrapper ul li {
  line-height: 100px;
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .flip-clock-wrapper ul {
    width: 50px;
  }
  .flip-clock-divider .flip-clock-label {
    right: -75px;
  }
}

@media only screen and (max-width: 479px) {
  .flip-clock-wrapper ul {
    height: 70px;
    width: 30px;
  }
  .flip-clock-wrapper ul li {
    line-height: 80px;
  }

  .flip-clock-divider .flip-clock-label,
  .flip-clock-divider.minutes .flip-clock-label,
  .flip-clock-divider.seconds .flip-clock-label {
    right: -60px;
  }
  .flip-clock-wrapper ul li a div div.inn {
    font-size: 44px;
  }

  .flip-clock-divider {
    height: 80px;
  }
  .flip-clock-dot.top {
    top: 20px;
  }
  .flip-clock-dot.bottom {
    bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
